  .testimonial {
    margin: 2rem 0;
  }

  .testimonial:first-of-type {
    margin-top: 4rem;
  }

  .testimonial__image-container {
    width: 90%;
    margin: 0 auto;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }
  
  
  .testimonial__info {
    text-align: center;
    padding: 1rem 2rem;
  }

  .testimonial__name {
    margin: 3px;
    color: #ff5454;
    font-size: 2rem;
  }
  
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.1em;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
  .testimonial__text {
    margin: 3px;
  }

  @media (min-width: 40rem) {
    .testimonial {
      font-size: 1.2rem;
      margin: 48px 200px;
    }
    
    .testimonial__list {
      width: 80%;
      margin: auto;
    }
    
    .testimonial:first-of-type {
      margin-top: 96px;
    } 

    .testimonial__image-container {
      width: 65%;
      max-width: 700px;
      display: inline-block;
      vertical-align: middle;
      box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    }

    .testimonial__info {
      text-align: left;
      padding: 14px;
      margin: 0 85px;
      display: inline-block;
      vertical-align: middle;
      width: 30%;
    } 

    #customer-2.testimonial {
      text-align: right;
    }
  
    #customer-2 .testimonial__info {
      text-align: right;
    } 
  }
  
  