* {
  box-sizing: border-box;
}

html {
  height: 100%; 
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  display: grid;
  height: 100%; 
  grid-template-rows: 3.5rem auto 8rem;
}

.backdrop {
  display: none;
  opacity: 0;
  transition: opacity 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  background: #2ddf5d;
  padding: .3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
}

.main-header__brand img {
  height: 70px;
  position: absolute;
  right: 3%;
  top: .8%;
  z-index: 1;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: .5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta {
  animation: wiggle 200ms 2s 8 alternate;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nave__item--cta a:hover, 
.mobile-nave__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
}

.button:hover,
.button:active {
  cursor: pointer;
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.main-footer__link {
  margin: 0 1rem;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.mobile-nav {
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {  
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15%;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  display: inline-block;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
} 

@media (min-width: 40rem) {
  body {
    grid-template-rows: auto 8rem;
  }

  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .main-nav {
    display: flex;
  }

  .toggle-button {
    display: none;
  }

  .main-header__brand img {
    left: 5%;
    top: 5%;
    z-index: 0;
  }

}

@keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform:rotateZ(10deg);
  }
}