main {
  padding-top: 2rem;
}

.background {
  background: url('../images/plans-background.jpg');
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  z-index: 2; /* Specify a stack orderin case you're using a different order for other elements */
}

.package {
  width: 100%;
  border: 4px solid #0e4f1f;
  margin: 10px 0;
}

.package a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-color: #ff5454;
}

.package__subtitle {
  color: #979797;
  font-size: 1.5rem;
}

.package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.2rem;
  color: #0e4f1f;
  background: white;
  font-style: italic;
}

#plus {
  margin-top: 70px;
  background: rgba(213, 255, 220, 0.95);
  text-align: center;
}

#free {
  background: rgba(234, 252, 237, 0.95);
  margin: 20px 40px 20px auto;
  text-align: center;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
  text-align: center;
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

.package__badge {
  font-size: 1rem;
  color: white;
  background: #ff5454;
  width: 50%;
  margin: 0 auto;
}

@media (min-width: 40rem) {
  .package {
    width: 50%;
    margin: 16px 40px;
  }

  .package__badge {
    position: absolute;
    top: 13%;
    left: 44%;
    margin: 20px;
    color: white;
    background: #ff5454;
    padding: .5rem;
    width: 7rem;
  }

  #plus {
    text-align: left;
  }
  
  #free {
    text-align: right;
  }
  
  #premium {
    text-align: left;
  }

}