#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("images/freedom.jpg") left 10% bottom 77%/cover no-repeat border-box, #ff1b68;
    height: 40vh;
    position: relative;
}

.section-title { 
    color: #2ddf5c;
    text-align: center;
    font-size: 2rem;
}

#product-overview h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2rem;
    top: 30%;
    left: 41%;
}

.plans {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.plan {
    background: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plan h3 {
    font-weight: 300;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

.plan__annotation {
    background: white;
    color: #19b84c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__feature {
    margin: 8px 0;
    font-weight: 700;
}

.plan__title {
    color: #0e4f1f;
    font-size: 3rem;
    margin: 2rem 0 0 0; 
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan--highlighted .plan__title {
    color: white;
}

#key-features {
    background: #ff1b68;
    margin-top: 80px;
}

#key-features > .section-title {
    color: white;
    text-align: center;
    padding: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.key-feature {
    margin-bottom: 2rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.key-feature__image {
    background: #ffcede;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    height: 128px;
    margin: 0 auto;
    padding: 20px;
}

  .modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 5%;
    width: 90%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }

  @media (min-width: 40rem) {
    #product-overview {
        margin-top: 2.75rem;
    }

    #product-overview h1 {
        font-size: 2.5rem;
    }

    .plans {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row;
    }

    .plan {
        width: 30%;
        margin: 8px;
    }

    .plan__title {
        color: #0e4f1f;
        font-size: 3rem;
        margin: 0; 
    }

    .key-feature__list {
        width: 95%;
        flex-direction: row;
        justify-content: space-around;
    }

    .modal {
        left: 35%;
        width: 30%;
  }

    .modal__title {
        text-align: center;
        margin: 1rem 0 4rem 0;
    }

    .modal__actions {
        text-align: center;
        margin-bottom: 1rem;
    }
}

